@*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  Copyright © 2020 Maxim Yudin <stibiu@yandex.ru>
*@

@page
@model Latest
@{
  Layout = "_Layout";
}

<div id="latest-data">
  @if (Model.LatestMeasurements.Any())
  {
    var rowIndex = 1;

    @* Expired data warning. *@
    if (DateTime.Now - Model.LatestMeasurements.First().Timestamp > Model.ObsoleteDataPeriod)
    {
      <div class="alert alert-warning text-center mb-3">
        The latest measurement has been logged more than @Model.ObsoleteDataPeriod.TotalMinutes minute(s) ago.
        The actual data may have changed significantly since then.
      </div>
    }

    <script>
      let timestamp = "";
      let timestampFormat = "L LTS";
      let locale = navigator.languages ? navigator.languages[0] : navigator.language;
      moment.locale(locale);
    </script>

    @* Data table. *@
    <table class="table border-dark border-bottom">
      <tr class="text-center">
        <th colspan="6" class="h5 border-inherit">Last logged measurements</th>
      </tr>

      <tr>
        <th class="border-inherit">#</th>
        <th class="text-date border-inherit">Date</th>
        <th class="text-pressure border-inherit">Pressure, @MeasurementDefaults.DefaultPressureUnits</th>
        <th class="text-temperature border-inherit">Temperature, @MeasurementDefaults.DefaultTemperatureUnits</th>
        <th class="text-humidity border-inherit">Humidity, @MeasurementDefaults.DefaultHumidityUnits</th>
      </tr>

      @foreach (var measurement in Model.LatestMeasurements)
      {
        <tr>
          <td class="border-inherit">@(rowIndex++)</td>
          <td class="text-date border-inherit">
            <script>
              timestamp = "@measurement.Timestamp.ToString(CultureInfo.InvariantCulture)";
              document.write(moment(timestamp).format(timestampFormat))
            </script>
          </td>
          <td class="text-pressure border-inherit">@measurement.Pressure</td>
          <td class="text-temperature border-inherit">@measurement.Temperature</td>
          <td class="text-humidity border-inherit">@measurement.Humidity</td>
        </tr>
      }
    </table>
  }
  else
  {
    @* No data warning. *@
    <div class="alert alert-warning text-center">
      There is no latest measurement to display.
    </div>
  }
</div>
