@*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  Copyright © 2020-2021 Maxim Yudin <stibiu@yandex.ru>
*@

@page "/Monitor/Offset/{Offset:int}/{Resolution:int?}"
@page "/Monitor/Period/{PeriodStart:datetime}/{PeriodEnd:datetime}/{Resolution:int?}"
@inject HttpClient Client

<div class="position-relative d-flex flex-column h-100 @(IsDataUpdating ? "updating" : IsDataAcquisitionFailed ? "failed" : IsDataEmpty ? "empty" : "")"
     data-empty-notice="No measurements found for the period."
     data-updating-notice="Updating..."
     data-failed-notice="Failed to get the measurements.">
  <div class="flex-fill w-100">
    <Chart ChartSettings="@ChartSettings" PeriodStart="@PeriodStart" PeriodEnd="@PeriodEnd" Measurements="@Measurements" />
  </div>

  <div class="position-sticky bottom-0 w-100">
    <DataSummary Measurements="@Measurements" CultureInfo="@ChartSettings.CultureInfo" />
  </div>
</div>

@code
{
  /// <summary>
  ///   Defines the path used for the offset type timespan definition.
  /// </summary>
  public const string OffsetPath = "/Monitor/Offset";

  /// <summary>
  ///   Defines the path used for the period type timespan definition.
  /// </summary>
  public const string PeriodPath = "/Monitor/Period";

  /// <summary>
  ///   Gets or sets the time offset in seconds from the current moment to be used for timespan calculation.
  /// </summary>
  [Parameter]
  public int Offset { get; set; }

  /// <summary>
  ///   Gets or sets the starting timestamp of the timespan to be displayed.
  /// </summary>
  [Parameter]
  public DateTime PeriodStart { get; set; }

  /// <summary>
  ///   Gets or sets the ending timestamp of the timespan to be displayed.
  /// </summary>
  [Parameter]
  public DateTime PeriodEnd { get; set; }

  /// <summary>
  ///   Gets or sets the timespan resolution.
  /// </summary>
  [Parameter]
  public int Resolution { get; set; }

  /// <summary>
  ///   Gets or sets an enumeration of measurements to be displayed on a chart.
  /// </summary>
  public IEnumerable<Measurement>? Measurements { get; set; }

  /// <summary>
  ///   Checks if the measurements data are being updating at the moment.
  /// </summary>
  public bool IsDataUpdating { get; private set; }

  /// <summary>
  ///   Checks if the last measurements data acquisition has failed.
  /// </summary>
  public bool IsDataAcquisitionFailed { get; private set; }

  /// <summary>
  ///   Checks if empty measurements data have been acquired from the last request.
  /// </summary>
  public bool IsDataEmpty => !IsDataUpdating && !IsDataAcquisitionFailed && Measurements?.Any() != true;

  /// <summary>
  ///   Gets or sets the chart settings object.
  /// </summary>
  private ChartSettings ChartSettings { get; set; } = new() {CultureInfo = CultureInfo.CurrentUICulture};

  /// <inheritdoc />
  protected override async Task OnParametersSetAsync()
  {
    try
    {
      IsDataAcquisitionFailed = false;
      IsDataUpdating = true;
      StateHasChanged();

      if (Offset != default)
      {
        PeriodStart = DateTime.Now - TimeSpan.FromSeconds(Offset);
        PeriodEnd = DateTime.Now;
      }

      if (Resolution == default)
        Resolution = 1500;

      var response = await Client.PostJsonAsync<MeasurementFilter, JsonPayload<IEnumerable<Measurement>>>(ApiEndpoints.MeasurementDataEndpoint, new MeasurementFilter
      {
        PeriodStart = PeriodStart.ToUniversalTime(),
        PeriodEnd = PeriodEnd.ToUniversalTime(),
        Resolution = Resolution
      });

      if (response?.StatusCode == 200)
        Measurements = response.Data;
    }
    catch (Exception e)
    {
      Console.WriteLine(e.Message);
      IsDataAcquisitionFailed = true;
    }
    finally
    {
      IsDataUpdating = false;
      StateHasChanged();
    }
  }
}
