@*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  Copyright © 2020-2021 Maxim Yudin <stibiu@yandex.ru>
*@

<CascadingAuthenticationState>
  <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
      <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout)">
        <Authorizing>
          <div class="alert alert-secondary h5 text-center m-3 p-3">
            @Strings.App_AuthorizingNotice
          </div>
        </Authorizing>
        <NotAuthorized>
          @if (context.User.Identity?.IsAuthenticated == true)
          {
            <div class="alert alert-warning h5 text-center m-3 p-3">
              <div class="mb-3">
                @Strings.App_NotAuthorizedNotice
              </div>
              <button class="btn btn-warning" onclick="history.back()">
                @Strings.Label_Back
              </button>
            </div>
          }
          else
          {
            <AuthPanel />
          }
        </NotAuthorized>
      </AuthorizeRouteView>
    </Found>
    <NotFound>
      <LayoutView Layout="@typeof(Layout)">
        <div class="alert alert-secondary h5 text-center m-3 p-3">
          <div class="mb-3">
            @Strings.App_RouteNotFoundWarning
          </div>
          <button class="btn btn-secondary" onclick="history.back()">
            @Strings.Label_Back
          </button>
        </div>
      </LayoutView>
    </NotFound>
  </Router>
</CascadingAuthenticationState>
