@*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  Copyright © 2020-2021 Maxim Yudin <stibiu@yandex.ru>
*@

@{
  if (Measurements == null || !Measurements.Any())
    return;
}

<div id="data-summary-wrapper" class="px-4">
  <div class="text-center w-100">
    <a href="#data-summary" data-toggle="collapse"
       class="d-inline-block dropdown-toggle bg-dark text-light text-decoration-none text-wrap rounded-top px-2 py-1 collapsed">
      Data summary
    </a>
  </div>

  <div id="data-summary" class="data-summary container-fluid collapse bg-dark rounded-top w-100">
    <div class="p-2">
      <div class="text-date row">
        <div class="text-right col-3 col-xl-2">
          Period start:
        </div>
        <div class="text-left col-9 col-xl-4">
          @Measurements.Min(measurement => measurement.Timestamp).ToString(CultureInfo)
        </div>
        <div class="text-right col-3 col-xl-2">
          Period end:
        </div>
        <div class="text-left col-9 col-xl-4">
          @Measurements.Max(measurement => measurement.Timestamp).ToString(CultureInfo)
        </div>
      </div>

      <div class="text-pressure row">
        <div class="text-right col-3 col-xl-2">
          Min pressure:
        </div>
        <div class="text-left col-9 col-xl-4">
          @{
            var minPressure = Measurements.Min(measurement => measurement.Pressure);
            var minPressureTimestamp =
              Measurements.First(measurement => measurement.Pressure == minPressure).Timestamp;
            @($"{minPressure.ToString("F3", CultureInfo)} ({minPressureTimestamp.ToString(CultureInfo)})")
          }
        </div>
        <div class="text-right col-3 col-xl-2">
          Max pressure:
        </div>
        <div class="text-left col-9 col-xl-4">
          @{
            var maxPressure = Measurements.Max(measurement => measurement.Pressure);
            var maxPressureTimestamp =
              Measurements.First(measurement => measurement.Pressure == maxPressure).Timestamp;
            @($"{maxPressure.ToString("F3", CultureInfo)} ({maxPressureTimestamp.ToString(CultureInfo)})")
          }
        </div>
      </div>

      <div class="text-temperature row">
        <div class="text-right col-3 col-xl-2">
          Min temperature:
        </div>
        <div class="text-left col-9 col-xl-4">
          @{
            var minTemperature = Measurements.Min(measurement => measurement.Temperature);
            var minTemperatureTimestamp =
              Measurements.First(measurement => measurement.Temperature == minTemperature).Timestamp;
            @($"{minTemperature.ToString("F3", CultureInfo)} ({minTemperatureTimestamp.ToString(CultureInfo)})")
          }
        </div>
        <div class="text-right col-3 col-xl-2">
          Max temperature:
        </div>
        <div class="text-left col-9 col-xl-4">
          @{
            var maxTemperature = Measurements.Max(measurement => measurement.Temperature);
            var maxTemperatureTimestamp =
              Measurements.First(measurement => measurement.Temperature == maxTemperature).Timestamp;
            @($"{maxTemperature.ToString("F3", CultureInfo)} ({maxTemperatureTimestamp.ToString(CultureInfo)})")
          }
        </div>
      </div>

      <div class="text-humidity row">
        <div class="text-right col-3 col-xl-2">
          Min humidity:
        </div>
        <div class="text-left col-9 col-xl-4">
          @{
            var minHumidity = Measurements.Min(measurement => measurement.Humidity);
            var minHumidityTimestamp =
              Measurements.First(measurement => measurement.Humidity == minHumidity).Timestamp;
            @($"{minHumidity.ToString("F3", CultureInfo)} ({minHumidityTimestamp.ToString(CultureInfo)})")
          }
        </div>
        <div class="text-right col-3 col-xl-2">
          Max humidity:
        </div>
        <div class="text-left col-9 col-xl-4">
          @{
            var maxHumidity = Measurements.Max(measurement => measurement.Humidity);
            var maxHumidityTimestamp =
              Measurements.First(measurement => measurement.Humidity == maxHumidity).Timestamp;
            @($"{maxHumidity.ToString("F3", CultureInfo)} ({maxHumidityTimestamp.ToString(CultureInfo)})")
          }
        </div>
      </div>

      <div class="text-info statistics row">
        <div class="text-right col-3 col-xl-2">
          Entries displayed:
        </div>
        <div class="text-left col-9 col-xl-4">
          @Measurements.Count()
        </div>
      </div>
    </div>
  </div>
</div>

@code
{
  /// <summary>
  ///   Gets or sets an enumeration of measurements to be summarized.
  /// </summary>
  [Parameter]
  public IEnumerable<Measurement>? Measurements { get; set; }

  /// <summary>
  ///   Gets or sets the culture information object used for data formatting.
  /// </summary>
  [Parameter]
  public CultureInfo CultureInfo { get; set; } = CultureInfo.InvariantCulture;
}
