@*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  Copyright © 2020 Maxim Yudin <stibiu@yandex.ru>
*@

@model ChartParameters

<div id="@Model.ChartId-wrapper" class="chart-wrapper position-relative"
     data-empty-notice="No measurements found for the period."
     data-updating-notice="Updating..."
     data-failed-notice="Failed to get the measurements.">
  <canvas id="@Model.ChartId" class="chart-canvas"></canvas>

  <div id="@Model.ChartId-summary" class="chart-summary container-fluid py-2">
    <div class="text-date row">
      <div class="text-right col-3 col-xl-2">
        Period start:
      </div>
      <div class="text-left col-9 col-xl-4">
        <span class="period-start">???</span>
      </div>
      <div class="text-right col-3 col-xl-2">
        Period end:
      </div>
      <div class="text-left col-9 col-xl-4">
        <span class="period-end">???</span>
      </div>
    </div>

    <div class="text-pressure row">
      <div class="text-right col-3 col-xl-2">
        Min pressure:
      </div>
      <div class="text-left col-9 col-xl-4">
        <span class="min-pressure">???</span> @Model.PressureUnits (<span class="min-pressure-timestamp">???</span>)
      </div>
      <div class="text-right col-3 col-xl-2">
        Max pressure:
      </div>
      <div class="text-left col-9 col-xl-4">
        <span class="max-pressure">???</span> @Model.PressureUnits (<span class="max-pressure-timestamp">???</span>)
      </div>
    </div>

    <div class="text-temperature row">
      <div class="text-right col-3 col-xl-2">
        Min temperature:
      </div>
      <div class="text-left col-9 col-xl-4">
        <span class="min-temperature">???</span> @Model.TemperatureUnits (<span class="min-temperature-timestamp">???</span>)
      </div>
      <div class="text-right col-3 col-xl-2">
        Max temperature:
      </div>
      <div class="text-left col-9 col-xl-4">
        <span class="max-temperature">???</span> @Model.TemperatureUnits (<span class="max-temperature-timestamp">???</span>)
      </div>
    </div>

    <div class="text-humidity row">
      <div class="text-right col-3 col-xl-2">
        Min humidity:
      </div>
      <div class="text-left col-9 col-xl-4">
        <span class="min-humidity">???</span> @Model.HumidityUnits (<span class="min-humidity-timestamp">???</span>)
      </div>
      <div class="text-right col-3 col-xl-2">
        Max humidity:
      </div>
      <div class="text-left col-9 col-xl-4">
        <span class="max-humidity">???</span> @Model.HumidityUnits (<span class="max-humidity-timestamp">???</span>)
      </div>
    </div>

    <div class="text-info statistics row">
      <div class="text-right col-3 col-xl-2">
        Entries displayed:
      </div>
      <div class="text-left col-9 col-xl-4">
        <span class="entries-count">???</span>
      </div>
    </div>
  </div>

  <script>
    (() => {
      let chartParametersObject = @Json.Serialize(Model);
      let chartParameters = Object.assign(new PiClimate.Monitor.ChartParameters("@Model.ChartId"), chartParametersObject);
      let chartComponent = new PiClimate.Monitor.ChartComponent(chartParameters);
      chartComponent.chartParameters.filter = Object.assign(new PiClimate.Monitor.MeasurementFilter(), chartParameters.filter);
      chartComponent.updateChart();
      window["chart:@Model.ChartId"] = chartComponent;
    })()
  </script>
</div>
