@{
  var lastDayQuery = new Dictionary<string, object> {{nameof(MeasurementFilter.TimePeriod), TimePeriods.Day}};
  var lastWeekQuery = new Dictionary<string, object> {{nameof(MeasurementFilter.TimePeriod), TimePeriods.Week}};
  var lastMonthQuery = new Dictionary<string, object> {{nameof(MeasurementFilter.TimePeriod), TimePeriods.Month}};
}

<ul class="navbar-nav flex-row flex-lg-column w-100">
  <li class="nav-item px-3">
    <a class="navbar-brand" href="/">PiClimate Monitor</a>
  </li>

  <hr class="border-light w-100 d-none d-lg-block" />

  <li class="nav-item px-3">
    <page-link class="nav-link" page="@nameof(Monitor)" query-parameters="@lastDayQuery">Last day</page-link>
  </li>

  <li class="nav-item px-3">
    <page-link class="nav-link" page="@nameof(Monitor)" query-parameters="@lastWeekQuery">Last week</page-link>
  </li>

  <li class="nav-item px-3">
    <page-link class="nav-link" page="@nameof(Monitor)" query-parameters="@lastMonthQuery">Last month</page-link>
  </li>
</ul>
