<ul class="navbar-nav flex-row flex-lg-column w-100">
  <li class="nav-item px-3">
    <a class="navbar-brand" href="/">PiClimate Monitor</a>
  </li>

  <hr class="border-light w-100 d-none d-lg-block" />

  <li class="nav-item px-3">
    <a class="nav-link" asp-page="@nameof(Monitor)" asp-page-handler="@Monitor.PressurePageHandler">Pressure</a>
  </li>

  <li class="nav-item px-3">
    <a class="nav-link" asp-page="@nameof(Monitor)" asp-page-handler="@Monitor.TemperaturePageHandler">Temperature</a>
  </li>

  <li class="nav-item px-3">
    <a class="nav-link" asp-page="@nameof(Monitor)" asp-page-handler="@Monitor.HumidityPageHandler">Humidity</a>
  </li>
</ul>
